[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "vim/bundle/vim-test-recall"]
	path = vim/bundle/vim-test-recall
	url = git@github.com:cyphactor/vim-test-recall.git
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = git@github.com:tpope/vim-endwise.git
[submodule "vim/bundle/vim-open-alternate"]
	path = vim/bundle/vim-open-alternate
	url = git@github.com:cyphactor/vim-open-alternate.git
[submodule "vim/bundle/vim-marked"]
	path = vim/bundle/vim-marked
	url = https://github.com/itspriddle/vim-marked.git
	ignore = dirty
